[submodule "01. Challenges/06. U5 - Rails, Faker, and Git Challenge/simple_store"]
	path = 01. Challenges/06. U5 - Rails, Faker, and Git Challenge/simple_store
	url = https://github.com/mregacho29/U5-Rails-Faker-and_Git_Challenge
