[submodule "01. Challenges/06. U5 - Rails, Faker, and Git Challenge/simple_store"]
	path = 01. Challenges/06. U5 - Rails, Faker, and Git Challenge/simple_store
	url = https://github.com/mregacho29/U5-Rails-Faker-and_Git_Challenge
[submodule "04. Demonstration/rails_at_the_movies"]
	path = 04. Demonstration/rails_at_the_movies
	url = https://github.com/mregacho29/rails_at_the_movies
[submodule "ActiveRecord-without-Rails"]
	path = 04. Demonstration/ActiveRecord-without-Rails
	url = https://github.com/mregacho29/ActiveRecord-without-Rails


[submodule "01. Challenges/04. U3 - Ultimate Active Record Challenge/Active-Record-Challenge"]
	path = 01. Challenges/04. U3 - Ultimate Active Record Challenge/Active-Record-Challenge
	url = https://github.com/mregacho29/Active-Record-Challenge

[submodule "04. Demonstration/beers_on_rails"]
	path = 04. Demonstration/beers_on_rails
	url = https://github.com/mregacho29/beers_on_rails
[submodule "04. Demonstration/horses_on_rails"]
	path = 04. Demonstration/horses_on_rails
	url = https://github.com/mregacho29/horses_on_rails/tree/main
